<div class="panel panel-primary">
    <div class="panel-heading">
        Sign Up!
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="save()"
              [formGroup]="customerForm">
            <fieldset>
                <div class="form-group"
                    [ngClass]="{'has-error': (customerForm.get('firstName').touched || 
                                              customerForm.get('firstName').dirty) &&
                                              !customerForm.get('firstName').valid }">
                    <label class="col-md-2 control-label" 
                           for="firstNameId">First Name</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="firstNameId" 
                               type="text" 
                               placeholder="First Name (required)" 
                               formControlName="firstName" />
                        <span class="help-block" *ngIf="(customerForm.get('firstName').touched || 
                                                         customerForm.get('firstName').dirty) && 
                                                         customerForm.get('firstName').errors">
                            <span *ngIf="customerForm.get('firstName').errors.required">
                                Please enter your first name.
                            </span>
                            <span *ngIf="customerForm.get('firstName').errors.minlength">
                                The first name must  be longer than 5 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group"
                    [ngClass]="{'has-error': (customerForm.get('lastName').touched || 
                                              customerForm.get('lastName').dirty) &&
                                              !customerForm.get('lastName').valid }">
                    <label class="col-md-2 control-label" 
                           for="lastNameId">Last Name</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="lastNameId" 
                               type="text" 
                               placeholder="last Name (required)" 
                               formControlName="lastName" />
                        <span class="help-block" *ngIf="(customerForm.get('lastName').touched || 
                                                         customerForm.get('lastName').dirty) && 
                                                         customerForm.get('lastName').errors">
                            <span *ngIf="customerForm.get('lastName').errors.required">
                                Please enter your last name.
                            </span>
                            <span *ngIf="customerForm.get('lastName').errors.maxlength">
                                The last name must not be longer than 5 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group"
                    [ngClass]="{'has-error': (customerForm.get('email').touched || 
                                              customerForm.get('email').dirty) &&
                                              !customerForm.get('email').valid }">
                    <label class="col-md-2 control-label" 
                           for="emailId">Email</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="emailId" 
                               type="text" 
                               placeholder="email (required)" 
                               formControlName="email" />
                        <span class="help-block" *ngIf="(customerForm.get('email').touched || 
                                                         customerForm.get('email').dirty) && 
                                                         customerForm.get('email').errors">
                            <span *ngIf="customerForm.get('email').errors.required">
                                Please enter your email.
                            </span>
                            <span *ngIf="customerForm.get('email').errors.pattern">
                               Please enter valid Email.
                            </span>
                        </span>
                    </div>
                </div>
                 <div class="form-group"
                    [ngClass]="{'has-error': (customerForm.get('phone').touched || 
                                              customerForm.get('phone').dirty) &&
                                              !customerForm.get('phone').valid }">
                    <label class="col-md-2 control-label" 
                           for="phoneId">Phone</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="phoneId" 
                               type="text" 
                               placeholder="phone" 
                               formControlName="phone" />
                        <span class="help-block" *ngIf="(customerForm.get('phone').touched || 
                                                         customerForm.get('phone').dirty) && 
                                                         customerForm.get('phone').errors">
                            <span *ngIf="customerForm.get('phone').errors.required">
                                Please enter your phone.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" control-label>Set Notification</label>
                    <div class="col-md-8">
                        <label class="radio-inline">
                            <input type="radio" value="email" 
                                formControlName="notification"
                                (click)="setNotifaction('email')">Email
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="text" 
                                formControlName="notification"
                                (click)="setNotifaction('text')">phone
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!customerForm.valid">
                                Save
                            </button>
                            <button class="btn btn-primary"
                                    type="button" (click)="populateData()"
                                   >
                                Test Data
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br>Dirty: {{ customerForm.dirty }} 
<br>Touched: {{ customerForm.touched }}
<br>Valid: {{ customerForm.valid }}
<br>Value: {{ customerForm.value | json }}